.description {
  padding: 114px 7.54vw 146px;

  @include vp-1023 {
    padding: 82px 5.86vw 93px;
  }

  @include vp-767 {
    padding: 54px 4.7vw 83px;
  }
}

.description__wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.44vw;
  max-width: 1366px;
  margin: 0 auto;

  @include vp-1023 {
    align-items: start;
    gap: 4vw;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 11vw;
    align-items: center;
  }
}

.description__img-wrapper {
  @include vp-1023 {
    padding-top: 10px;
  }
}

.description__img-wrapper img {
  max-width: initial;
  height: auto;

  @include vp-1023 {
    max-width: 100%;
  }
}

.description__wrapper-desc {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include vp-1023 {
    gap: 16px;
  }
}

.description__wrapper-desc h2 {
  font-style: normal;
  font-family: $ff-montserrat;
  font-weight: 600;
  font-size: calc((100vw - 768px)/(1366 - 768) * (28 - 26) + 26px);
  line-height: calc((100vw - 768px)/(1366 - 768) * (42 - 36) + 36px);
  color: #011c40;
  margin: 0;
}

.description__wrapper-desc p {
  font-family: $ff-montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #011c40;
  margin: 0;
}
