.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
}

.menu__logo {
  @include vp-767 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  & svg {
    color: #f9fbfd;

    @include vp-1023 {
      width: 38px;
      height: 20px;
    }

    @include vp-767 {
      width: 42px;
      height: 22px;
    }
  }

  & button {
    border: none;
    background-color: transparent;
    padding: 0;

    & .menu__open {
      display: none;

      @include vp-767 {
        display: block;
        width: 24px;
        height: 14px;
      }
    }
  }
}

.menu__close {
  display: none;
  width: 13px;
  height: 13px;
}

.menu__nav {
  padding-bottom: 5px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 33px;
  padding: 0;
  margin: 0;

  @include vp-1023 {
    gap: 23px;
  }


  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
}

.menu__item {
  list-style: none;
}

.menu__item a {
  text-decoration: none;
  font-family: $ff-montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc((100vw - 768px)/(1366 - 768) * (16 - 14) + 14px);
  line-height: calc((100vw - 768px)/(1366 - 768) * (20 - 17) + 17px);
  color: #f9fbfd;
  user-select: none;
}

.menu__burger {
  display: none;

  @include vp-767 {
    display: block;
    cursor: pointer;
  }
}

.menu__close-mobil {
  display: none;

  @include vp-767 {
    display: block;
  }
}
